# config.toml
database_url = "postgres://username:password@localhost:5432/database"
run_migrations = true
server_addr = "127.0.0.1:3000"
gpg_email = "good-bean@example.com"
allow_debug_headers = false
